html,body { width:100%; height:100%; margin:0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:white;
  background:#222;
  overflow:hidden;
}

a { color: white; }
canvas { background:white; }

body#home {
  overflow:auto;
}

body#home ul {
  list-style: none;
  margin:0;
  padding:0;
}

body#home ul li {
  padding:0;
  margin:0;
  border-bottom:1px solid rgba(255,255,255,0.2);
}

body#home ul li a {
  padding:20px 10px;
  display:block;
  text-decoration:none;
  font-size:18px;
}

body#home ul li a:hover {
  background:rgba(255,255,255,0.2);
  text-shadow: 0 -1px black;
}