!!! 5
html
  head
    meta(charset='utf-8')
    title= title
    script(src='/sketch.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#sketch
    script(type='text/javascript')!= sketch
