html,body
  width 100%
  height 100%
  margin 0
  background white

body
  font 14px Helvetica Neue, Helvetica, Arial, sans-serif
  background white
  color #222

a
  color lightblue

h1
  margin 0
  padding 1em
  display block
  font-weight normal
  border-bottom 1px solid #eee

ul
  li
    margin 0.6em

#content
  padding 1em
